<div class="row justify-content-center m-2">
    <div class="col-sm-12 col-md-8 col-lg-6 bg-white rounded">
        <h1 class="text-center mt-4">Create an account</h1>
        <form [formGroup]="form" class="d-flex flex-column m-4">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="form.controls.firstName.hasError('required') &&
                         (form.controls.firstName.dirty || form.controls.firstName.touched)">
                    First Name is required
                </mat-error>
                <mat-error *ngIf="form.controls.firstName.hasError('pattern') &&
                        (form.controls.firstName.dirty || form.controls.firstName.touched)">
                    First name should contain only letters and max length is 25
                </mat-error>
            </mat-form-field>
            <mat-form-field class="mt-4">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="mt-4">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
                <mat-error *ngIf="form.controls.email.invalid && (form.controls.email.dirty
                         || form.controls.email.touched)">Please choose a valid email</mat-error>
            </mat-form-field>
            <mat-form-field class="mt-4">
                <mat-label>Password</mat-label>
                <input matInput type="password" [type]="passHide ? 'password' : 'text'" formControlName="password"
                    required>
                <button mat-icon-button matSuffix (click)="passHide = !passHide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passHide">
                    <mat-icon>{{passHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls.password.invalid && (form.controls.password.dirty
                         || form.controls.password.touched)">Password length should be at least six, with 1 uppercase,
                    1 lowercase, 1 digit and 1 special character</mat-error>
            </mat-form-field>
            <mat-form-field class="mt-4">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" [type]="confPassHide ? 'password': 'text'"
                    formControlName="confirmPassword" [errorStateMatcher]="passwordErrorMatcher" required>
                <button mat-icon-button matSuffix (click)="confPassHide = !confPassHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confPassHide">
                    <mat-icon>{{confPassHide ? 'visibility_off': 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.hasError('mismatch')">Passwords do not match</mat-error>
            </mat-form-field>
            <mat-error *ngIf="signUpSuccess == false">{{errorMsg}}</mat-error>
            <button mat-raised-button color="primary" class="mt-4" (click)="onSubmit()">Sign up</button>
            <p class="mt-4 fw-bold text-center">I already have an account <a class="fw-bold text-info ps-2"
                    href="/sign-in">Sign in</a></p>
        </form>
    </div>
</div>