<div class="row m-3 justify-content-center">
    <h1 class="text-center mt-4">Change password</h1>
    <form [formGroup]="form" class="d-flex flex-column col-md-8 col-lg-6" #changePassNgForm="ngForm">
        <mat-form-field class="mt-4">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" [type]="oldPassHide ? 'password' : 'text'" formControlName="oldPassword" required>
            <button mat-icon-button matSuffix (click)="oldPassHide = !oldPassHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPassHide">
                <mat-icon>{{oldPassHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.oldPassword.invalid && (form.controls.oldPassword.dirty
             || form.controls.oldPassword.touched)">Password length should be at least six, with at least 1 lowercase, 1 uppercase, 1 digit and 1 special character</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-4">
            <mat-label>New Password</mat-label>
            <input matInput type="password" [type]="passHide ? 'password' : 'text'" formControlName="password" required [errorStateMatcher]="oldNewPasswordErrorMatcher">
            <button mat-icon-button matSuffix (click)="passHide = !passHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passHide">
                <mat-icon>{{passHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.password.invalid && (form.controls.password.dirty
             || form.controls.password.touched)">Password length should be at least six, with 1 lowercase, 1 uppercase, 1 digit and 1 special character</mat-error>
             <mat-error *ngIf="form.hasError('oldNewSame')">Old and new password should not be same</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-4">
            <mat-label>Confirm New Password</mat-label>
            <input matInput type="password" [type]="confPassHide ? 'password': 'text'" formControlName="confirmPassword" [errorStateMatcher]="passwordErrorMatcher" required>
            <button mat-icon-button matSuffix (click)="confPassHide = !confPassHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confPassHide">
                <mat-icon>{{confPassHide ? 'visibility_off': 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.hasError('mismatch')">Passwords do not match</mat-error>
        </mat-form-field>
        <mat-error *ngIf="changeSuccess == false">{{errorMsg}}</mat-error>
        <button mat-raised-button color="primary" class="mt-4" (click)="onSubmit()">Change Password</button>
    </form>
</div>