.spacer {
    flex: 1 1 auto;
}

.mw-300 {
    max-width: 300px;
}

.h-200 {
    height: 200px;
}

.top-50 {
    top: 50%;
}

.left-50 {
    left: 50%;
}

.z-100 {
    z-index: 100;
}

table td {
    word-break: break-all;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
}